@import "src/variables";

:host {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

//.about {
//    background: url("../../../../assets/me.jpg") no-repeat;
//    background-size: contain;
//}

.image-box {
    max-width: 378px;
    max-height: 536px;
    float: left;
    padding-right: 20px;

    img {
        width: 100%;
        height: 100%;
    }
}

.without-text {
    padding-bottom: 20px;
}


